*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: hsl(233, 47%, 7%);
    --desatureted-blue: hsl(244, 38%, 16%);
    --color-accent: hsl(277, 64%, 61%);
    --color-white: hsl(0, 0%, 100%);
    --color-white-100: hsla(0, 0%, 100%, 0.75);
    --color-white-200: hsla(0, 0%, 100%, 0.6);

    --font-main: 'Inter', sans-serif;
    --font-accent: 'Lexend Deca', sans-serif;
}

body{
    font-family: var(--font-main);
    font-size: 0.9rem;
    min-height: 100vh;
    background-color: var(--dark-blue);
    color: var(--color-white-100);
}

.container{
    margin: 5rem 1.7rem;
    padding-bottom: 2.5em;
    text-align: center;
    border-radius: 1em;
    background-color: var(--desatureted-blue);
    
}

.image{
    position: relative;
    margin-bottom: 2.7rem;
}

.container img{
    width: 100%;
    display: block;
    border-radius: 1em 1em 0 0;
}

.image span{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: .5;
    background-color: var(--color-accent);
    border-radius: 1em 1em 0 0;
}

h1{
    font-size: 2.25rem;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.insights{
    color: var(--color-accent);
}

.text-content{
    padding: 1rem;
}

.description{
    margin-bottom: 1.8rem;
    line-height: 1.7;
    padding: 0 2.5em;
}

.stats{
    
    margin-bottom: 1.5rem;
}

.number{
    color: var(--color-white);
    font-size: 1.75rem;
    font-weight: 600;
}
.label{
    color: var(--color-white-200);
    font-size: 0.8rem;
    font-family: var(--font-accent);
    font-weight: 300;
    margin-top: 0.5em;
    text-transform: uppercase;
}

@media (min-width: 910px){
    body{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;
        text-align: left;
        width: min(70%, 90vw);
        margin: 0 auto;
    }
    .image{
        margin-bottom: 0;
        flex-basis: 100%;
    }

    .text-content{
        flex-basis: 100%;
        padding: 4rem 3rem;
    }

    .container img{
        height: 100%;
        border-radius: 0 1rem 1rem 0;
    }

    .image span{
        border-radius: 0 1rem 1rem 0;
    }
    .stats{
        display: inline-block;
        margin-right: 2.6rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .stats:last-child{
        margin-right: 0;
    }

    .description{
        padding: 0;
    }
    footer{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
.attribution {
    
    font-size: 11px;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }